Flask
Flask-Login
Flask-SQLAlchemy
psycopg2-binary
cx_oracle
pandas
python-dotenv
schedule
Werkzeug
oracledb
Flask-Migrate
Flask-WTF
Flask-Bcrypt
Flask-Cors
Flask-Mail
Flask-Admin
Flask-RESTful
Flask-JWT-Extended
marshmallow
marshmallow-sqlalchemy
APScheduler
Flask-SocketIO
eventlet
redis
flask-limiter
Flask-Limiter
itsdangerous
email-validator
gunicorn
pytest
scipy
